<div class="ui middle aligned selection divided list">
  <ng-container *ngIf="tours$| async as tours">
    <div *ngIf="!tours" class="ui active dimmer">
      <div class="ui large text loader">Touren werden gerade entdeckt...</div>
    </div>

    <tf-tour-list-item class="item"
       *ngFor="let t of tours"
       [tour]="t"
       [routerLink]="t.id">
    </tf-tour-list-item>

    <div class="field" *ngIf="tours && !tours.length">
      <h1> Es wurden leider keine Touren gefunden. </h1>
      <br>
      <button routerLink="../home" class="ui left labeled icon button">
        <i class="left arrow icon"></i>
        Zurück zur Suche
      </button>
    </div>
  </ng-container>
</div>
